*{
    margin: 0;
    padding: 0;
}

body{
    background: #e9ecf4;
    color: #000;
    font-family: 'Baloo 2', cursive;
}

.logotipo{
    height: 50px;
}
.iconos-redes{
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}

.grid-container{
    width: 100%;
    /* max-width: 1000px; */
    /* margin: 20px auto; 20 arriba y abajo pero de costado auto para que se centre */
    /* border: 1px solid red; */

    display: grid;
    grid-gap: 20px; /*separar o darle margenes a cada caja de contenido*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6);

    grid-template-areas:'header header header header'
                        'title title title title'
                        'contenido contenido contenido contenido'
                        'widget1 widget2 widget2 widget3'
                        'widget1 widget2 widget2 widget3'
                        'footer footer footer footer';
    grid-template-rows: auto auto auto auto;
    
}

.grid-container .contenido,
.grid-container .footer{
    background: #fff;
    padding: 20px;
}

/* ESTILOS DE CABECERA  */
.grid-container .header{
    grid-area: header;
}


.grid-container .title1{
    background-image: url("../images/contacto2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    height: 300px;

    grid-area: title;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container .title1 h1{
    font-size: 60px;

    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 600;

    font-family: 'Rubik Glitch', cursive;
    color: #ffffff;
    text-align: center;


}

.grid-container .contenido{
    border-radius: 10px; /*bordes redondeados*/
    background: #ffffff;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;

    grid-area: contenido;
}


.grid-container .widget-1{
    grid-area: widget1;
    box-shadow: tomato;
}
.grid-container .widget-2{
    grid-area: widget2;
    padding: 20px;
    background: #F6FFA4;
    border-radius: 20px;
}
.grid-container .widget-3{
    grid-area: widget3;
}

.boton button a{
    text-decoration: none;
    text-decoration-line: none;
    color: black;
}

.grid-container .footer{
    background: #111111fa;
    color: #fff;
    height: 90px;

    grid-area: footer;
    
    display: flex;
    justify-content: center;
    align-items: center; /*mandar al centro el contenido*/
}
.grid-container .footer p{
    text-align: center;
}


/* VISTA MOBILE */
@media screen and (max-width: 768px) {

    .grid-container{
        width: 100%;
        /* max-width: 1000px; */
        /* margin: 20px auto; 20 arriba y abajo pero de costado auto para que se centre */
        /* border: 1px solid red; */
    
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6);
    
        grid-template-areas:'header header header header'
                            'title title title title'
                            'contenido contenido contenido contenido'
                            'widget1 widget1 widget1 widget1'
                            'widget2 widget2 widget2 widget2'
                            'widget3 widget3 widget3 widget3'
                            'widget4 widget4 widget4 widget4'
                            'footer footer footer footer';
        grid-template-rows: auto auto auto auto;
        
    }

    .grid-container .title1 h1{
        font-size: 18px;
    }
}