*{
    margin: 0;
    padding: 0;
}

body{
    background: #e9ecf4;
    color: #000;
    font-family: 'Baloo 2', cursive;
}

.logotipo{
    height: 50px;
}
.iconos-redes{
    text-decoration-line: none;
    text-decoration: none;
    color: black;
}

.grid-container{
    width: 100%;

    display: grid;
    grid-gap: 20px; /*separar o darle margenes a cada caja de contenido*/
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4);

    grid-template-areas:'header header'
                        'title form'
                        'contenido form'
                        'footer footer';
    grid-template-rows: auto auto auto auto;
    
}

.grid-container .contenido,
.grid-container .sidebar,
.grid-container .footer{
    background: #fff;
    padding: 20px;
}

/* ESTILOS DE CABECERA  */
.grid-container .header{
    grid-area: header;
}



.grid-container .title{
    grid-area: title;

    background-image: url("../images/musculacion-femenia.jpg");

    /* filter: brightness(49%) saturate(101%) contrast(109%); BAJARLE EL BRILLO A LA IMAGEN DE FONDO
    -webkit-filter: brightness(49%) saturate(101%) contrast(109%);
    -moz-filter: brightness(49%) saturate(101%) contrast(109%); */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    /* background-attachment: fixed; */

    /* background: #700B97; */
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    border-radius: 5px;
    min-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.grid-container .title h1{
    margin: 10px;
}

.grid-container .contenido{
    border-radius: 5px; /*bordes redondeados*/
    background: #ffffff;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;

    grid-area: contenido;
}
.grid-container .contenido p{
    margin-top: 20px;
}

.grid-container .container-form{
    background: #9dff9b;
    grid-area: form;
    padding: 40px;
    border-radius: 20px;
}



.grid-container .footer{
    background: #111111fa;
    color: #fff;
    height: 90px;

    grid-area: footer;
    
    display: flex;
    justify-content: center;
    align-items: center; /*mandar al centro el contenido*/
}
.grid-container .footer p{
    text-align: center;
}


/* VISTA MOBILE */
@media screen and (max-width: 768px) {

    .grid-container{
        grid-template-areas:'header header'
                        'title title'
                        'contenido contenido'
                        'form form'
                        'footer footer';
        grid-template-rows: auto auto auto auto;
    }

    .grid-container .contenedor-form .ingreso-datos input{
        height: 30px;
        width: 250px;
    }

    .grid-container .contenedor-form .entrenamiento-elegir{
        font-size: 20px;
    }

    .grid-container .contenedor-form{
        height: auto;
        grid-area: form;
    }
}