*{
    margin: 0;
    /* padding: 0; */
}

.logotipo{
    height: 50px;
}

body{
    background: #e9ecf4;
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.grid-container{
    width: 100%;
    /* max-width: 1000px; */
    /* margin: 20px auto; 20 arriba y abajo pero de costado auto para que se centre */

    display: grid;
    grid-gap: 20px; /*separar o darle margenes a cada caja de contenido*/
    grid-template-columns: repeat(3,); /*3 coluimnas*/
    grid-template-rows: repeat(5, auto); /*4 filas*/

    grid-template-areas:'header header header'
                        'contenido contenido sidebar'
                        'card1 card1 card2'
                        'card1 card1 card2'
                        'footer footer footer';
    grid-template-rows: auto auto auto auto; /*TAMANIO DE CADA FILA*/
}

/* ESTILOS DE CABECERA  */
.grid-container .header{
    grid-area: header;
}

.grid-container .contenido{
    border-radius: 4px; /*bordes redondeados*/
    background: url("../images/musculacion2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.8;
    padding: 30px;
    color: rgb(255, 255, 255);
    font-size: 25px;

    grid-area: contenido;
}
.contenido p{
    font-family: 'Quicksand', sans-serif;
}

.grid-container .sidebar{
    background: #35858B;
    color: #fff;
    padding: 20px;
    border-radius: 4px; /*bordes redondeados*/
    min-height: 100px;

    grid-area: sidebar;

    /* display: flex; aplico flex solo para acomodar elementos de forma horizontal o vertical */
    /* align-items: center; centrar contenido en linea VERTICAL */
    /* justify-content: center; centrar contenido al centro */
}
.grid-container .sidebar h3{
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
}
.grid-container .sidebar ul li{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    list-style: none; /*quitar los puntos de los items*/
}
.grid-container .sidebar ul li a:hover{
    /* font-size: 22px; */
    color: black;
}

.grid-container .sidebar ul li a{
    text-decoration-line: none;
    color: #fff;
}


.grid-container .widget-1{
    grid-area: card1;
}
.grid-container .widget-2{
    grid-area: card2;
    padding: 30px;
    font-size: 18px;
    text-align: center;

    background: white;
    border-radius: 10px;
}

.grid-container .footer{
    background: #111111fa;
    color: #fff;
    padding: 20px;

    grid-area: footer;
    
    display: flex;
    justify-content: center;
    align-items: center; /*mandar al centro el contenido*/
}
.grid-container .footer p{
    text-align: center;
}


/* VISTA MOBILE */
@media screen and (max-width: 768px) {

    .grid-container{
        grid-template-areas:'header header header'
                        'contenido contenido contenido'
                        'sidebar sidebar sidebar'
                        'card1 card1 card1' /*rellenar las 3 filas*/
                        'card2 card2 card2'
                        'footer footer footer';
    }

    .grid-container .widget-1{
        grid-area: card1;
    }

    .grid-container .widget-2{
        grid-area: card2;
    }
}